
.study_container {
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 70px;
}

.sop_write_title_number {
    background: #1d88f2;
    display: inline;
    border-radius: 100px;
    width: 10px;
}

.sop_write_title {
    display: inline;
    font-weight: 600;
    /*글자 두께*/

}

hr {
    height: 6px;
}

