@value registerBackground from '../../common/color.css';

.boardInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boardInput textarea:hover {
    border-color: #1d88f2;

}

.boardInput textarea:focus {
    border-color: #1d88f2;
}

.boardInput textarea {
    font-family: inherit;
    padding: 1rem 1rem 1.5rem;
    outline: none;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 20px;
    border-color: darkgray;
    resize: none;

}
textarea::placeholder {
    color: grey;
}

.buttonComplete:hover {
    background: #1d88f2;
}

.buttonComplete {
    font-weight: bold;
    color: white;
    background: black;
    border-radius: 20px;
    width: 6rem;
    margin-bottom: 40px;
    height: 2rem;
    font-size: 1rem;
}

.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.3rem;
}

@media screen and (max-width: 575px) {
    .commentCount {
        font-size: 1.25rem;
    }
}

.qna_textarea {
    resize: none;
}