.main {
    color: #1d88f2;
    font-weight: bold;
    font-size: xx-large;

}
.Qna_title {
    font-family: "Spoqa Han Sans Neo", sans-serif;
}

.qna_wrapper {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
}