.information {
  margin-left: 10%;
  margin-bottom: 5rem;
}

.imgWrapperIn {
  /*display: block;*/
  height: 10rem;
  width: 10rem;
  box-shadow: rgb(0 0 0 / 9%) 0px 0px 8px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
  float: left;
  margin-top: 3%;
}

.imageControl {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 3%;
}

.imageUpload {
  background-color: rgb(168, 168, 168);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 32px;
  font-family: "NotoSansKR-Bold";
  margin-top: 3%;
}

.imageUpload:hover {
  background: rgb(183, 183, 183);
  color: white;
}

.imageDelete {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 32px;
  font-family: "NotoSansKR-Bold";
  margin-top: 1%;
}

.imageDelete:hover {
  background: rgb(40, 40, 40);
  color: white;
}

.description {
  color: rgb(170, 170, 170);
  font-size: 13px;
  font-family: "NotoSansKR-Bold";
  margin-top: 13%;
}

.description2 {
  color: rgb(170, 170, 170);
  font-size: 13px;
  font-family: "NotoSansKR-Bold";
  margin-top: 10%;
}

.nicknameTitle {
  font-size: 20px;
  float: left;
  font-family: "NotoSansKR-Bold";
  margin-top: 2%;
}

.inNickname {
  width: 200px;
  height: 40px;
  font-size: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  margin-left: 2%;
  margin-top: 1.5%;

}

.apply {
  background-color: rgb(0, 57, 241);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "NotoSansKR-Bold";
  margin-left: 2%;
  margin-top: 1.5%;
}
.apply:hover {
  background-color: rgb(65, 116, 255);
  color: white;
}

.currentPw {
  resize: none;
  width: 20rem;
  height: 45px;
  padding: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  margin-top: 2%;
}

.changePw {
  resize: none;
  width: 20rem;
  height: 45px;
  padding: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  margin-top: 2%;
}

.changePwCheck {
  resize: none;
  width: 20rem;
  height: 45px;
  padding: 10px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 3px;
  font-size: 14px;
  outline: none;
  margin-top: 2%;
}

.InPwChange {
  background-color: rgb(0, 57, 241);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: "NotoSansKR-Bold";
  float: left;
  margin-top: 2%;
  height: 40px;
}

.InPwChange:hover {
  background-color: rgb(65, 116, 255);
  color: white;
}

.memberDrop {
  background-color: rgb(230, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  transition-duration: 0.4s;
  width: 100px;
  font-family: "NotoSansKR-Bold";
  margin-top: 2%;
  float: right;
}

.memberDrop:hover {
  background: rgb(255, 56, 56);
  color: white;
}

.complete {
  background-color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 14px;
  transition-duration: 0.4s;
  margin-left: 420px;
  font-family: "NotoSansKR-Bold";
}

.complete:hover {
  background: rgb(54, 54, 54);
  color: white;
}